/* =========================
   TABLET
========================= */

@media(max-width:1024px){

    h1{
        font-size:56px;
    }

    h2{
        font-size:42px;
    }

    .grid-2{
        grid-template-columns:1fr;
    }

    .grid-3{
        grid-template-columns:repeat(2,1fr);
    }

    .grid-4{
        grid-template-columns:repeat(2,1fr);
    }

    .footer-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

    h1{
        font-size:42px;
    }

    h2{
        font-size:34px;
    }

    h3{
        font-size:26px;
    }

    .section{
        padding:70px 0;
    }

    @media(max-width:768px){

    .nav-links{
        display:none;
    }

    .desktop-btn{
        display:none;
    }

    .hamburger{
        display:flex;
    }

}

    .hero-buttons{
        flex-direction:column;
    }

    .grid-3,
    .grid-4{
        grid-template-columns:1fr;
    }

    .gallery-grid{
        columns:1;
    }

    .footer-grid{
        grid-template-columns:1fr;
    }
}

/* =========================
   SMALL MOBILE
========================= */

@media(max-width:480px){

    .container{
        width:92%;
    }

    h1{
        font-size:36px;
    }

    .btn{
        width:100%;
    }
}